.card-overlay {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-overlay:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.hover-area:hover .hover-text,
.hover-area:hover .hover-arrow {
  color: #333;
  stroke: #333;
}

.hover-text {
  transition: color 0.3s ease-in-out;
}

.hover-arrow {
  transition: stroke 0.3s ease-in-out;
}
